# Google OAuth
GOOGLE_CLIENT_ID=Ghi_mã_ID_của_bạn_vào_đây
GOOGLE_CLIENT_SECRET=Ghi_mã_bí_mật_của_bạn_vào_đây
GOOGLE_REDIRECT_URL=http://localhost/restaurant-project/public/google_callback.php

# Database
DB_HOST=localhost
DB_NAME=restaurant_db
DB_USER=root
DB_PASS=