# Thông tin dự án
APP_NAME=Restaurantly
APP_URL=http://localhost/restaurant-project

# Google OAuth
# LƯU Ý KHI LÊN VPS: Xóa 1 khoảng trắng (dấu cách) ở giữa để thành key chuẩn (Github tự động chặn nếu đăng key thật)
GOOGLE_CLIENT_ID=1053 282487934-5jo3dbj8en78k9dsmp1nkjc5jbcvrf06.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=GOCSPX -Q-N2qOTxbQU5ebd7jJqnjeWUsdWT
GOOGLE_REDIRECT_URL=http://localhost/restaurant-project/public/google_callback.php

# Database
DB_HOST=localhost
DB_NAME=restaurant_db
DB_USER=root
DB_PASS=

# Cấu hình Mail
MAIL_MAILER=smtp
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=28huynhducthong@gmail.com
MAIL_PASSWORD=kbosiggxkrtfppgg
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS="no-reply@restaurantly.com"
MAIL_FROM_NAME="${APP_NAME}"

# Cấu hình Telegram (Thông báo Mobile)
TELEGRAM_BOT_TOKEN=8935031959:AAEzSndMhjXuiIyXkeSNCtzTzj4TGoCo81s
TELEGRAM_CHAT_ID=5676940088
ENABLE_TELEGRAM=1
TELEGRAM_EOD_HOUR=8

# AI Chef Assistant
GEMINI_API_KEY=AIzaSyBcvdt2WUj5WtLdiL6uzdGgjGJx2pR8AuI