# Thông tin dự án
APP_NAME=Restaurantly
APP_URL=http://localhost/restaurant-project

# Google OAuth
GOOGLE_CLIENT_ID=Ghi_mã_ID_của_bạn_vào_đây
GOOGLE_CLIENT_SECRET=Ghi_mã_bí_mật_của_bạn_vào_đây
GOOGLE_REDIRECT_URL=http://localhost/restaurant-project/public/google_callback.php

# Database
DB_HOST=localhost
DB_NAME=restaurant_db
DB_USER=root
DB_PASS=

# Cấu hình Mail
MAIL_MAILER=smtp
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=nhap_email_cua_ban_vao_day@gmail.com
MAIL_PASSWORD=
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS="no-reply@restaurantly.com"
MAIL_FROM_NAME="${APP_NAME}"