<IfModule mod_rewrite.c>
    RewriteEngine On
    # Tự động gạch bỏ chữ index.php trên URL một cách tương đối
    RewriteCond %{THE_REQUEST} ^[A-Z]{3,9}\ /+(.*)index\.php [NC]
    RewriteRule ^(.*)index\.php$ /%1 [R=301,L]

    # 1. Nếu yêu cầu là file hoặc thư mục có thật (như admin, public, index.php)
    # thì cho phép truy cập trực tiếp, không xử lý gì thêm
    RewriteCond %{REQUEST_FILENAME} -f [OR]
    RewriteCond %{REQUEST_FILENAME} -d
    RewriteRule ^ - [L]

    # Đẩy tất cả các truy cập (không trỏ trực tiếp tới file có sẵn) vào index.php để xử lý (Router)
    RewriteRule ^(.*)$ index.php [QSA,L]

</IfModule>